/* ----- THIS IS THE RESTAURANT MAP APP STYLESHEET ---------------------------- */


/* ----- General -------------------------------------------------------------- */


/* ----- Media Queries--------------------------------------------------------- */

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}




/* ----- Fonts -------------------------------------------------------------- */

h1 h2 h3 h4 h5 h6 {
    color: #151920;
}

h1 {
    font-family: 'PT Sans', sans-serif;
}

h2 {
    font-family: 'Lora', serif;
}




/* ----- Navigation --------------------------------------------------------- */

.logo {
    width: 60%;
    diplay: inline-block;
    float: left;
    height: 46px;
}

.logo img {}

.topnav {
    overflow: hidden;
    background-color: #f5eee1;
    float: right;
    width: 100%;
}

.topnav a {
    font-family: 'PT Sans', sans-serif;
    float: right;
    display: block;
    color: #151920;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}


/* -------- PROFILE ------------------------------------------------------------------------ */


#profile {
    width: 30%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#profile h2 {
    margin: 0px 0px 20px 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#profile h3 {
    margin: 0px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif;
}

#profile-list {
    background-color: #f7f7f7;
    width: 100%;
    height: 36px;
    border-radius: 3px;
    padding-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}

#profile-list p {
    width: 100%;
    margin-left: 20px;
    color: #bbbbbb;
}

#container-profile {
  padding-top: 100px;

}



/* ----- Index ---------------------------------------------------------------- */

#header {
    clear: both;
    display: flex;
    text-align: center;
}

#container1 {
    display: block;
    float: left;
    width: 100%;
    height: 600px;
}

#form {
    width: 100%;
}

form {
    margin: 20px;
    height: 40%;
}

input#email {
    margin: 5px;
}

input#password {
    margin: 5px;
}


#map {
    width: 60%;
    height: 600px;
    display: inline-block;
    position: left;
}

#filter {
    width: 40%;
    height: 600px;
    display: inline-block;
    position: left;
    background-color: #ffffff;
}


/*searchbar*/

#searchbar {
    display: flex;
    width: 60%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
    position: relative;
    top: 60px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
}

.search {
    width: 100%;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-family: 'FontAwesome';
        content: '\f002';
        background: $color;
        text-align: center;
        color: $iconColor;
        border-radius: 5px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-smooth: always;
    }
}

.searchTerm {
    width: 100%;
    border: 2px solid #000;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}

.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: red;
    opacity: 0;
    cursor: pointer;
}

#container2 {
    z-index: 2;
    padding-top: 40px;
    display: block;
    float: left;
    width: 100%;
    height: 400px;
}

.resto {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #000;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
}

.resto img {
    display: block;
    float: left;
    max-width: 500px;
    height: 100%;
}

.info {
    display: block;
    float: left;
    s padding: 10px;
    height: 100%;
}

.category {
    width: 100%;
}

.category-btn {
    clear: both;
    background-color: #d6dadd;
    color: #151920;
    font-family: 'PT Sans', sans-serif;
    padding: 5px 20px;
    border-radius: 2px;
}

.category-btn p {
    text-align: center;
    opacity: 0.6;
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    display: block;
    float: left;
    height: 50%;
    width: 80%;
}

#container3 {
    display: block;
    float: left;
    width: 100%;
    height: 600px;
}



/* ----- Login ---------------------------------------------------------------- */


/* ----- Register ------------------------------------------------------------- */


/* ----- Profile -------------------------------------------------------------- */


/* ----- Index ---------------------------------------------------------------- */


/* THE END */