doctype html	
html

	head

		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
			
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='/js/script.js')


	//- body
	body(bgcolor='#f5eee1')
		#nav
			if user
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='logout') Logout
					a(href='profile') Profile
					a(href='feed') Home
					a(href='logo' style='float: left', margin-left='300px') ø
					
			else
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='/') Login
					a(href='profile') Profile
					a(href='feed') Home


		//- search bar in map  
		#searchbar
			form(class='search', method='post' action='/findrestaurants')
				input(class='searchTerm', id = 'searchrestaurants' name='searchrestaurants' placeholder='Enter your search term...')
				//- button(class='searchButton' type='submit')

		//- search 
		#container4
			script.
				$(document).ready(function(){
					$("#searchrestaurants").keyup(function(){

						var searchrestaurants = {searchrestaurants: $("#searchrestaurants").val()};

						console.log (searchrestaurants)


						$.get("/getrestaurants", searchrestaurants, function(response){
							var match = response.matchingRestaurants;
							
							$("#container4").html("<ul/>");
								for(var i=0; i<match.length; i++) {
									$("ul").append(
									"<li><form method =\'POST\' action = '/restaurantViaLink' id = 'restaurantLink'><input type=\'hidden\' name=\'restaurantLink\' value=" + `${match[i].trcid}`+ "><a href=restaurant/" + `${match[i].trcid}` + " onclick=\'document.getElementById('restaurantLink').submit()\'><div class='restaurant-card'><div class='restaurant-photo'><img src=" + match[i].media[0].url + " class='img'/></div><div class='restaurant-info'><div class='restaurant-title'>" + match[i].title + "</div><div class='restaurant-description'>" + match[i].details.en.shortdescription + "</div></div></li><br>")

									console.log (match[i].trcid)
								}
						});
					
					});
				});


		
