doctype html	
html
	head
		
		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/styles.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(type='text/javascript' src='/js/script.js')



	body(bgcolor='#f5eee1')

		.topnav#myTopnav
			a(href='#home') Home
			a(href='#news') News
			a(href='#contact') Contact
			a(href='#about') About
			a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776;

		h1 RESTAURANT 
		h2 MAP APP


		#map(style='width: 1200px; height: 800px;')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script.
			$.getJSON('https://open.data.amsterdam.nl/EtenDrinken.json', (data)=>{console.log(data)})
			$.ajax('/routeInAppJS', data)
    





  


