doctype html
html
	head
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		script(type='text/javascript' src='/javascript/jquery.js')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/styles.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		#nav
			if user
				#myTopnav(class='topnav')
					a(href='index') Home
					a(href='#') Profile
					a(href='/newpost') New Post
					a(href='allposts') All Posts
					a(href='logout') Logout
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
			
			else
				#myTopnav(class='topnav')
					a(href='index') Home
					a(href='#') Profile
					a(href='/newpost') New Post
					a(href='register') Register
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 

		#profile
			h2 Hi #{user.name}, this is your profile.
			h3 your profile name:
			#profile-list
				p #{user.name}
			h3 your email:
			#profile-list 
				p #{user.email}
			h3 your password:
			#profile-list 
				p #{user.password}


		//- script link
		script(type='text/javascript' src='/js/jquery.js')

		//- scripts 
		script.
			$.getJSON('https://open.data.amsterdam.nl/EtenDrinken.json', (data)=>{
				console.log(data)
			})