doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
			
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='/js/script.js')

	body(bgcolor="#f5eee1")
		#nav
			if user
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='logout') Logout
					a(href='search') Search
					a(href='#') Profile
					a(href='feed') Home
					a(href='logo' style='float: left', margin-left='300px') ø
					
			else
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='register') Login
					a(href='search') Search
					a(href='#') Profile
					a(href='register') Home
					
		#container-profile
			#profile
				h2 Hi #[strong #{user.username}], this is your profile.

				#upload-photo
					img(src='img/upload-image.png')
					h3 upload your photo
					a(class='upload-button' href='/upload') Upload?	

				#profile-field
					h3 your profile name:
					#profile-list
						p #{user.username}
					h3 your email:
					#profile-list 
						p #{user.email}
					h3 your password:
					#profile-list 
						p #{user.password}


		//- script link
		script(type='text/javascript' src='/js/jquery.js')

		//- scripts 
