doctype html	
html
	head
		
		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
			
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='/js/script.js')


	//- body
	body(bgcolor="#f5eee1")
		
		//- navigation
		.logo
			img

		.topnav
			#myTopnav

		#header
			h1 Something
			h2 Something

		//- Register
		#form
			h2 Register

			form(name='form', action='/register', method='POST')
				input(type='text', name='usernameNew', placeholder='Your username...', required) 
				input(type='email', name='emailNew', placeholder='Your email...', required)
				input(type='text', name='passwordNew', placeholder='Your password...', required)

				input(type='submit', value='Register')

			a(class='button' href='/login') Or login?

		//- scripts 
		

